<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>RESTFUL-API</title>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
 
  </head>
  	<body>
  	
  	<div class="container">
  	<div class="section">
  	
  		<button type="button" class="btn btn-success" id="boton">AJAX</button>
  	
  
  	</div>
  	<div class=seccion >
  	
  		<ul id="resultado">
 
  		</ul>
  	</div>
  	</div>
  	 <script th:src="@{/js/document.js}"></script>
	</body>
</html>